@charset "UTF-8";
/* CSS Document */
* {
	
}
body {
	background-color: #FF5218;
	margin: 0;
	padding: 0;
	font-family: "open sans";
}
header {
	text-align: center;
	color: #FFFFFF;
	padding: 1px;
	background-color: #FC5356;
}
header h1{
	font-weight: 400;
}
.info {
	background-color: #FF3134;
	padding: 1px 0px;
}
.info a {
	text-decoration: none;
	color: #FFFFFF
}
.stjerner {
	background-image: url(images/space.png);
	background-size: cover;
	background-repeat: none;
	margin-bottom: -5px;
}
.planeter {
	padding-top: 80px;
	min-height: 300px;
	display: flex;
justify-content: center;
align-items: center;
}
.planeter2 {
	display: flex;
justify-content: center;
align-items: center;
}
.saturn img {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.jorden img {
	width: 50%;
	display: block;
	margin: 0 auto;
}
.mars img {
	width: 40%;
	display: block;
	margin: 0 auto;
}

.neptun img{
 width: 80%;
	display: block;
	margin: 0 auto;
}
.uranus img {
	width: 80%;
	display: block;
	margin: 0 auto;
}
.merkur img {
width: 50%;
	display: block;
	margin: 0 auto;
}
.venus img {
	width: 45%;
	display: block;
	margin: 0 auto;
}
.jupiter img {
	display: block;
	margin: 0 auto;
}

.zoom {
	transition: transform .2s; /* Animation */
}
.zoom:hover {
	transform: scale(1.1);
}
.rotate {
	transition: transform .9s; /* Animation */
}
.rotate:hover {
	-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.tooltip {
    position: relative;
    display: inline-block;
}
	
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #F68284;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
	border-radius: 6px; 

    position: absolute;
	width: 100%;
    top: 110%;
	display: block;
	margin: 0 auto;
	
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip2 {
    position: relative;
    display: inline-block;
}
	
.tooltip2 .tooltiptext {
    visibility: hidden;
    background-color: #F68284;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
	border-radius: 6px; 

    position: absolute;
	width: 100%;
    top: 80%;
	display: block;
	margin: 0 auto;
	
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}
.tooltip3 {
    position: relative;
    display: inline-block;
}
	
.tooltip3 .tooltiptext {
    visibility: hidden;
    background-color: #F68284;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
	border-radius: 6px; 

    position: absolute;
	width: 100%;
    top: 90%;
	display: block;
	margin: 0 auto;
	
}

.tooltip3:hover .tooltiptext {
    visibility: visible;
}
.tooloverskrift {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.3em;
}
.toolunder {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.1em;
	letter-spacing: 0.03em;
}

.solen {
	margin-bottom: -4px;
}
/*footermenu*/
.footercenter {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.footercontent {
    padding: 0px;
}
footer {
    background-color: #FF7205;
    padding: 20px 0px;
}
.footercontent a {
    text-decoration: none;
    color: #FFCACA;
    list-style: none;
}
.undermenu {
    width: 50%;
    margin: 10px;
    padding-top: 10px;
    font-size: 0.8em;
    line-height: 1.9em;
}
.undermenu p.adresse {
    font-size: 1em;
}
.undermenu h3 {
    color: #FFFFFF;
    font-size: 1.2em;
	letter-spacing: 0.1em;
}
.undermenu p {
    color: #FFFFFF;
    font-size: 1em;
	
}
.undermenu h2 {
	font-size: 1em;
	color: #FFFFFF;
	font-weight: 400;
	
}
.undermenu img {
    width: 12%;
    margin-top: 2px;
    padding: 0px 2px;
}
.flex {
    display: flex;
    width: 50%;
}
.col-10 img {
	padding-top: 40px;
}
/*fact-sites*/
.fact-site {
	padding-top: 50px;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.shadow {
	 box-shadow: 0px 0px 20px 2px #F0F0F0!important;
}
.home {
	padding-top: 30px;
	margin-bottom: -20px;
}
.home img {
	height: 100%;
	width: 100px;
}
.big {
	font-size: 1.8em;
}
.faktaboks {
	border: double;
	margin-right: 50px;
	margin-bottom: 50px;
	padding: 20px;
	padding-bottom: 40px;
	
}
.fakta {
	padding-right: 40px;
	padding-left: 0px;
}
.imgw100 img {
	width: 100%
}
.animationer {
	width: 100%;
	display: flex;
	height: auto;
	margin-right: 40px;
	min-height: 260px;
}
.animation1 {/*mars*/
	width: 30%;
	max-height: 350px;
}
.animation2 {
	width: 60%;
	max-height: 350px;
}
.animationmerkur1 {
	width: 70%;
	max-height: 350px;
}
.animationmerkur2{
	width: 20%;
	max-height: 450px;
}
.animationjupiter1 {
	width: 85%;
	max-height: 450px;
}
.animationjupiter2 {
	width: 5%;
	max-height: 350px;
}
.animationuranus1 {
	width: 80%;
	max-height: 450px;
}
.animationuranus2 {
	width: 10%;
	max-height: 450px;
}
.animationneptun1{
	width: 75%;
	max-height: 450px;
}
.animationneptun2 {
	width: 15%;
	max-height: 450px;
}
.animationsaturn1{
	width: 81%;
	max-height: 350px;
}
.animationsaturn2 {
	width: 9%;
	max-height: 350px;
}
.animationervenus {
	width: 44%;
	padding-right: 20px;
	max-height: 350px;
}
/*Quizzen*/
.answer_wrapper {
	width: 94%;
}
.question_wrapper {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}
.cold {
	width: 45%;
}
.cold h3 {
	padding-bottom: 97px;
}
.greekgod img {
	width: 80%
}
.hop img {
	padding-top: 30px;
}
.snowalien img {
	border-radius: 40px;
	border: #F35F45 solid 20px;
	width: 65%
}
.snowalien {
	width: 40%;
}
.snow p {
	margin-top: -15px;
}
.triton {
	width: 50%;
	padding-right: 20px;
}
.triton img {
	padding-top: 30px;
	padding-right: 0px!important;
}
/*my bootstrap*/
.responsive {
	display: flex;
	width: 50%;
}
.row{
	display: flex;

}
.index10 {
	z-index: 10;
}
.index9 {
	z-index: 9;
}
.index8 {
	z-index: 8;
}
.index7 {
	z-index: 7;
}
.index6 {
	z-index: 6;
}
.index5 {
	z-index: 5;
}
.index4 {
	z-index: 4;
}
.w25 {
	width: 25%;
}
.w50{
	width: 50%;
}
.displayflex {
	display: flex;
}
.auto {
	margin-left: auto;
	margin-right: auto;
}
object {
	width: 100%;
}
.container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
.boks {
	background-color: #F5F5F5;
	padding: 40px;
	border-radius: 8px;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
p, .undermenu h2 {
	font-family: 'Open Sans', sans-serif;
	
}
h1, h4, h3{
	font-family: 'Abril Fatface', cursive;
}
.column {
	flex-direction: column;
}
.w100 {
	width: 100%;
}
.btn {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: none;
	background-color: #EF4444;
	color: #FFFFFF;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 0.1em;
	border-radius: 10px;
	font-size: 1em;
	margin-bottom: 5px;
}
@media screen and (max-width: 1080px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
	.footer-center {
    margin-left: 30px;
    margin-right: 30px;
}
.footercenter {
    padding: 0px 20px;
}
}
@media screen and (max-width: 750px) {
.flex {
    flex-direction: column;
}
.undermenu {
    margin-left: auto;
    margin-right: auto;
}
	.snowalien img {
	
	width: 100%
}
.snowalien {
	width: 80%;
}
.snow {
	width: 100%
}
	.auto img {
		width: 100%;
	}
	.auto { 
	width: 100%}
.columnmedia {
		flex-direction: column;
	}
	.w100media {
		width: 100%;
	}
}
@media screen and (max-width: 615px){
	.row {
		flex-direction: column;
	}
	.tt {
		padding-top: 40px;
	}
	.responsive {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.footer {
    max-width: 100%;
}
	/*factsite*/
	.venstre {
		width: 100%;
		
	
	}
	.hoejre {
		width: 100%;
	}
	.imgw100 img {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.faktaboks {
	margin-right: 0px;
	
	}
	.zoom {
		padding: 20px 0px;
	}
	.snowalien img {
	
	width: 100%;
}
.snowalien {
	width: 40%;
	margin-left: auto;
		margin-right: auto;
}
.snow {
	width: 100%
}
	.auto {
		width: 100%;
	}
	.auto img {
		width: 50%
	}
}
@media screen and (max-width: 524px) {

.footercenter {
    flex-direction: column;
}
.footercenter p, .madeby, .rights {
    margin-left: auto;
    margin-right: auto;
}
.flex {
    width: 100%;
}

}

@media screen and (max-width: 350px) {
	.responsive {
		flex-direction: column;
	}
	.w50 {/*width 50 bliver til 100*/
		width: 100%;
	}

}
