<!DOCTYPE html>
<html lang="dk">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Der findes ingen dumme spørgsmål - udover dem der bliver spurgt her ;)</title>
		<link rel="stylesheet" href="planeter.css">
		<link rel="stylesheet" href="app.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	</head>
	
	<body>
	
		<div class="container" id="app">
		
			<div class="row">
			
				<div class="col-sm-12 question_wrapper">
							
					<div class="answer_wrapper" v-for="(question, index) in questions" :key="index">
					
						<h3 v-text="question.question"></h3>
						
						<form class="form">
						
							<div class="form-check" v-for="(answer, qindex) in question.answers" :key="qindex">
								
								<label class="form-check-label" @click="pick(question.question, answer.answer)">
								
									<input class="form-check-input" type="radio" name="answer[]" :id="'example'+qindex" @click="pick(question.question, answer.answer)" :value="answer.id">
									
									{{ answer.answer }}
									
								</label>
								
							</div>
							
							
						
						</form>
						
					</div>
					
					
					
				</div>
				
				<div class="col-sm-12 btn_container">
					<button type="button" class="btn btn-primary btn-lg" @click="submitAnswers()">Submit</button>
				</div>
				
			</div>
			
		</div>
			
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
		<script src="./app.js"></script> 
	</body>
</html>